body{
    width:960px;
    position:relative;
    margin:auto;
    background-image: url("../img/background.jpg");
}

.mainPart{
    width:960px;
    background-color:#ffffff;
	
}
.header {
    color:#000000;
    text-align:center;
    font-weight:bold;
    padding-top:30px;
}

.footer{
    width:960px;
    text-align:center;
    font-size:16px;
    border-top: solid gray 1px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    
}
.title{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    width:400px;
    padding-bottom:20px;
    margin-left: 191px;
    
}

.option{
    display:inline;
    padding-right: 30px;
    float:right;
    width: 180px;
    height: 104px;
}

.username{
    line-height: 52px;
    font-size: 20px;
    cursor:pointer;
}
.option input{
    height:25px;
    width:150px;
    margin-top:10px;
}
.option img{
    position:absolute;
    margin:17px 0 0 2px;
}



/******** Menu ********/
.menu {
    width:100%;
    padding: 20px 0 21px;
    margin:0;
    position: relative;
    background-color: #bf63bc;
    font-family: 'Economica', sans-serif;
    z-index: 99;
    text-align: center;
    position: relative;  
}
.menu ul {
    position: absolute;
    display: none;
}
.menu li {
    display: inline-block;
    float: none;
    font-size: 25px;
    line-height: 15px;
    position:relative;
    cursor: pointer;
}
.menu li a {
    text-align: center;
    display: inline-block;
    padding: 10px 24px 11px;
    position: relative;
    color: #fff;
    text-decoration:none;
}
.menu li:hover {
    background-color:#eecaf0;
    display: inline-block;
    float: none;
    font-size: 25px;
    line-height: 15px;
    position:relative;
}



/**********Item Page***********/
fieldset{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 900px;
    border: 2px groove #f6c8d3;
}
legend{
    font-family:Zapfino;
    font-size: 40px;
    color: #f3b1cd;
    font-weight: bold;
}
.quantity{
    float:left;
    margin-left: 20px;
    font-family: Gabriola;
    font-size: 30px;
    font-weight: bold;
    color:hotpink;
}

#showQuantity{
    width: 50px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.itemShowTable{
    margin-top: 80px;
    margin-bottom: 30px;
    width: 800px;
    font-family: Gabriola;

    
}
.itemShowTable td{
    width: 150px;
    height: 55px;
    text-align: center;
    font-size: 20px;

}
.itemShowTable th{
    width: 150px;
    height: 50px;
    font-size: 40px;
    color: hotpink;
    text-align: center;
    font-weight:bold;
}

.itemShowTable input{
    width: 80px;
    height: 20px;
}
.itemShowTable button{
    width: 40px;
    height: 20px;
}