.loginHeader{
    width:700px;
    height:50px;
    position:absolute;
    z-index:5556;
    margin:auto;
    background-color:palevioletred;
}

.loginBody{
    width:700px;
    height:450px;
    position:absolute;
    z-index: 5555;
    margin:auto;
    padding-top: 50px;
    background-color:white;
}